header nav ul{
                                                  
    display: flex;
    justify-content: space-evenly;
    list-style: none;                                             
    
}
header h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(26, 119, 3);
}
nav{

}
                                                            

main{                                    
    display: block;
    
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(26, 119, 3);

}
h1{
    font-size: 2rem;
    padding-left: 10px;

}                                                  
h2{
    font-size: 1.5rem;
    padding-left: 100px;                                                                                   
}
section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;                                   
    margin-top: 10px;
}
                                              
section div{
    display: flex;
    justify-content: space-between;
}
.img{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.textos{
    display: flex;
    justify-content:space-between;
    align-items: center                                                                                                                                                                                                                                                                                                                                                                  ;
   
}

body{
    background-color: rgb(166, 226, 206);
}