header{
    background-color: rgb(6, 182, 138);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 16px; ;
}
nav{

}
ul{
    display: flex;
    height: 100%;
    align-items: center;
}
nav ul li{
    padding-left: 16px;
    list-style-type: none;
}
main{
    width: 900px;
    margin: auto;
    color: rgb(41, 182, 5);

}
h1{
    font-size: 2rem;
    padding-left: 10px;

}
h2{
    font-size: 1.5rem;
    padding-left: 100px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
section div{

}
body{
    background-color: aquamarine;
}